/* reset */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=PT+Sans&family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

/* ------reset -----*/
/* Tipografias*/
/*------ Inicio Body INDEX-------*/
/* Body */
body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 80px auto 80px;
  min-height: 100vh; }

.body__generalIndex {
  background-image: url(../img/julian-gariba-test.png); }

/* Footer */
.footer {
  grid-area: footer;
  background-color: black;
  color: white;
  top: 160px;
  width: 100%;
  height: 80px;
  padding: 0%;
  margin-top: 50px; }
  .footer ul li {
    display: inline-block;
    padding: 0 10px; }
    .footer ul li ul li a {
      display: inline-block; }
    .footer ul li h3 {
      text-align: center;
      font-size: 3rem; }
    .footer ul li img {
      padding-top: 10px;
      width: 64px;
      height: 64px; }

/*NAV*/
.nav__inicio {
  padding-left: 20px;
  background-color: black;
  position: sticky;
  top: 0;
  height: 60px; }
  .nav__inicio ul {
    list-style: none;
    margin: -1%;
    padding: -01%; }
    .nav__inicio ul li {
      display: inline-block; }
      .nav__inicio ul li a {
        color: white;
        display: block;
        text-decoration: none;
        padding: 20px; }
        .nav__inicio ul li a:hover {
          background-color: rgba(87, 87, 191, 0.626); }

h1 {
  text-align: center;
  margin-top: 25px;
  font-size: 2em; }

/*------Main LIQUIDOS----- */
.grid__liq {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.body__generalLiq {
  background-color: rgba(66, 71, 113, 0.482);
  color: black;
  margin: 0%;
  padding: 0%;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; }

.body__liq {
  width: 100%;
  height: 100%;
  letter-spacing: 0.05em;
  line-height: 1.6; }

.title__liq {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 100px;
  font-weight: 100; }

.container__liq {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }
  .container__liq .card__liq {
    width: 255px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.25s; }
    .container__liq .card__liq img {
      width: 240px;
      height: 220px; }
    .container__liq .card__liq h4 {
      font-weight: 600; }
    .container__liq .card__liq p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
    .container__liq .card__liq a {
      font-weight: 500;
      text-decoration: none;
      color: #3498db; }
    .container__liq .card__liq:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.282); }

/*------Main Index----- */
.info__index {
  background-color: rgba(137, 43, 226, 0.653); }

.personas {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }

.contenedor {
  border: 0, 3px solid #555454;
  margin: 25px;
  width: 400px;
  height: 400px; }

.contenedor img {
  height: 100%;
  width: 100%;
  border-color: 10px grey;
  object-fit: contain; }

.contenedor h3 {
  background-color: grey;
  font-size: 20px; }

.contenedor p {
  background-color: grey;
  font-size: 20px; }

/*------Main TUTORIALES----- */
.body__generalTutoriales {
  background-color: rgba(66, 71, 113, 0.482); }

.videos {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }

.columna {
  border: 2px solid #555454;
  background-color: rgba(255, 255, 255, 0.637);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

/*Forms*/
.forms__body {
  width: auto;
  height: auto;
  margin-top: auto; }

.form__register {
  width: auto;
  height: auto;
  margin-top: auto; }

/*------Fin Footer----- */
/*MEDIA*/
/*MEDIA  425*/
@media (max-width: 425px) {
  /*nav*/
  .nav__inicio {
    padding-left: 20px;
    background-color: black;
    height: 10%;
    width: auto;
    height: auto; }
  .nav__inicio ul {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .nav__inicio ul li a {
    color: white;
    text-decoration: none;
    padding: 20px; }
  /*infodevil*/
  .info__index {
    width: 420px;
    height: 230px;
    margin-top: 200px;
    text-align: left; }
  /*stuffdevil*/
  .personas {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center; }
  /*Cards -liq-res-*/
  .grid__liq {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column; }
  /*Forms*/
  /*Footer*/
  .footer h3 {
    text-align: center;
    font-size: 2rem; }
  .footer img {
    padding-top: 10px;
    width: 32px;
    height: 32px; } }

/*MEDIA  768*/
@media (max-width: 768px) {
  /*nav*/
  .nav__inicio {
    padding-left: 20px;
    background-color: black;
    height: 10%;
    width: auto;
    height: auto; }
  .nav__inicio ul {
    display: flex;
    flex-direction: column;
    width: 10%; }
  .nav__inicio ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    width: 110px; }
  /*infodevil*/
  .info__index {
    width: 100%;
    height: 230px;
    margin-top: 150px;
    text-align: left; }
  /*stuffdevil*/
  .personas {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center; }
  /*Cards -liq-res-*/
  .grid__liq {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column; }
  /*Tutoriales*/
  /*Footer*/
  .footer {
    grid-area: footer;
    background-color: black;
    color: white;
    top: 160px;
    width: 100%;
    height: 45px; }
  .footer h3 {
    text-align: center;
    font-size: 2rem; }
  .footer img {
    padding-top: 10px;
    width: 32px;
    height: 32px; } }

/*REGISTRO*/
@media (max-width: 584px) {
  .container {
    max-width: 100%; }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%; }
  form .category {
    width: 100%; }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll; }
  .user-details::-webkit-scrollbar {
    width: 5px; } }

@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column; } }

.body__forms {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg #71b7e6, #9b59b6); }

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative; }

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6); }

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0; }

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px); }

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px; }

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease; }

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6; }

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500; }

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between; }

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer; }

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease; }

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9; }

form input[type="radio"] {
  display: none; }

form .button {
  height: 45px;
  margin: 35px 0; }

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6); }

form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6); }

@media (max-width: 584px) {
  .container {
    max-width: 100%; }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%; }
  form .category {
    width: 100%; }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll; }
  .user-details::-webkit-scrollbar {
    width: 5px; } }

@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column; } }
