/*------Main LIQUIDOS----- */

.grid__liq{
    display: flex;
    justify-content: space-around;
    width: 100%;


}

.body__generalLiq{
    background-color: rgba(255, 255, 255, 0.816);
    color: black;
    margin: 0%;
    padding: 0%;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.body__liq{
    width: 100%;
    height: 100%;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

.title__liq{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
}

.container__liq{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    .card__liq{
        width: 255px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: all 0.25s;

        img{
            width: 240px;
            height: 220px;
        }

        h4{
            font-weight: 600;
        }

        p{
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
        }

        a{
            font-weight: 500;
            text-decoration: none;
            color: #3498db;
        }

        &:hover {
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.282);
        }

    }


}







