/* reset */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    box-sizing: border-box;
}

/* ------reset -----*/

/* Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=PT+Sans&family=Rubik:wght@300&display=swap');


/*------ Inicio Body INDEX-------*/

/* Body */
body{
    display: grid;
    grid-template-areas: "header" "main" "footer" ;
    grid-template-rows: 80px auto 80px;
    min-height: 100vh;

}
.body__generalIndex{
    background-color: rgba(255, 255, 255, 0.871);
}

/* Footer */

.info__index{
    text-align: center;
    background-color: #F0D9A5;
}

.footer{
    grid-area: footer;
        background-color: $black;
        color: $white;
        top: 160px;
    width: 100%;
    height: $header__alto;
    padding: 7px;
    margin-top: 50px;

    h3{
        font-size: 3rem;
        text-align: center;
    }
    ul li{
        display: inline-block;
        padding: 0 10px;
        ul li a { 
            display: inline-block;
            }
            img{
                padding-top: 10px;
                width: 32px;
                height: 32px;
            }
    }

}

//map
$redes: ( 
        whatsapp:   #3dbf12,
        facebook:  #3a5795,
        instagram: #5851DB
); 

@each $red, $color in $redes {
    &:hover.btn--#{$red} {
        background-color: $color;
        font-size: 0,1rem;
        padding: 0,1ren;
        border-radius: 40px;
    }
}
