/* reset */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    box-sizing: border-box;
}

/* ------reset -----*/

/* Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=PT+Sans&family=Rubik:wght@300&display=swap');


/*------ Inicio Body INDEX-------*/

/* Body */
body{
    display: grid;
    grid-template-areas: "header" "main" "footer" ;
    grid-template-rows: 80px auto 80px;
    min-height: 100vh;

}
.body__generalIndex{
    background-color: rgba(255, 255, 255, 0.871);
}

/* Footer */

.info__index{
    text-align: center;
    background-color: #F0D9A5;
}

.footer{
    grid-area: footer;
        background-color: rgb(0, 0, 0);
        color: rgb(247, 247, 247);
        top: 160px;
    width: 100%;
    height: 80px;
    padding: 7px;
    margin-top: 50px;

    h3{
        font-size: 3rem;
        text-align: center;
    }
    ul li{
        display: inline-block;
        padding: 0 10px;
        ul li a { 
            display: inline-block;
            }
            img{
                padding-top: 10px;
                width: 32px;
                height: 32px;
            }
    }

}

