/* reset */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    box-sizing: border-box;
}

/* ------reset -----*/

/* Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=PT+Sans&family=Rubik:wght@300&display=swap');


/*------ Inicio Body INDEX-------*/

/* Body */
body{
    display: grid;
    grid-template-areas: "header" "main" "footer" ;
    grid-template-rows: 80px auto 80px;
    min-height: 100vh;

}
.body__generalIndex{
    background-image: url(../img/julian-gariba-test.png);
}

/* Footer */

.footer{
    grid-area: footer;
        background-color: black;
        color: white;
        top: 160px;
    width: 100%;
    height: 80px;
    padding: 0%;
    margin-top: 50px;

    ul li{
        display: inline-block;
        padding: 0 10px;
        ul li a { 
            display: inline-block;
            }
            h3{
                text-align: center;
                font-size: 3rem;
            }
            img{
                padding-top: 10px;
                width: 64px;
                height: 64px;
            }
    }

}

